*.jpg
pyenv
download.sh
download_ov
ov_model_i8
openvino.genai
Qwen
openvino
env_cpp

.vscode
*.log
dump_*
exec_graph.bin
exec_graph.xml
onetrace.429373.json
ov_model_zaixing
tmp_nightly
openvino_toolkit_ubuntu22_2025.3.0.dev20250725_x86_64
Qwen2-VL-2B-Instruct/
Qwen2-VL-2B-Instruct_video/
Qwen2.5-VL-3B-Instruct
python-env/
test_video
example_ov_cpp/vlm_cache/